.zone-grid {
  display: grid;
 
  gap: 1rem;
  padding: 1rem;
grid-template-columns: repeat(2, 1fr);
}

.zone {
  position: relative;
  height: 12vw;   /* scales with width of viewport */
  min-height: 120px;
  max-height: 150px;

  border-radius: 15px;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
background: linear-gradient(to left, #FF0040 0%, #4000FF 0%, #FF0040 100%);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.roomname {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 80px;
    top: 13px;
}
#redpower {
    color: #ff0000;
     font-weight: bold;
    font-size: 27px;
    position: absolute;
    right: 15px;
    top: 18px;
}
#whitepower{
     color: #ffffff;
    font-weight: bold;
    font-size: 27px;
    position: absolute;
    right: 15px;
    top: 18px;

}

#muteicon {
    position: absolute;
    left: 20px;
    bottom: 11.8px;
    color: white;
    
    font-size: 2.3em;
}
#skip_previous {
    color: white;
   
    font-size: 2.6em;
     position: absolute;
    right: 90px;
    bottom: 5px;
}
#skip_next {
    color: white;
    
    font-size: 2.6em;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#pause {
     color: white;
    
    font-size: 2.35em;
    position: absolute;
    right: 48px;
    bottom: 7px;
}
.urlimage {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 30px;

}

 #analogSlider {
    
    appearance: none;
    width: 35%;
    height: 1em;
    background-color: #ff0000;
    border-radius: 15px;
    outline: none;
    position: absolute;
    bottom: 20px;
    left: 75px;


}
.songname {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 80px;
    top: 48px;
}


#analogSlider::-webkit-slider-thumb { 
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    
}

#analogSlider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: #ff0000;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 550px) {
    #analogSlider {
    position: absolute;
    bottom: 20px;
    height: 0.5em;
    width: 40%;
   
}
    .songname{
        top:33px;
    }
     .zone-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5rem;
}
 .urlimage{
        top: 20px;
    }
.roomname{
    top: 5px;
}
#muteicon {
    bottom: 5px;

}

}


@media (max-width: 1000px) {
     #analogSlider {
    position: absolute;
    bottom: 20px;
    height: 0.5em;
    width: 40%;
   
}

#muteicon {
    bottom: 5px;

}
.urlimage{
        top: 20px;
    }
.roomname{
    top: 0px;
}
}