.room-button,
.light-btn,
.offlightbtn,
.room-on-fb-high,
.room-on-fb-low,
.room-off-fb-high,
.room-off-fb-low {
  flex-shrink: 0;
}

.gradient-text {
  background: linear-gradient(180deg, #9500ff, #ff7575);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


.room-button {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    
    position: relative;
    background-size: cover;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 20px;
    
    border: none;
    
   
   
    
    padding: 10px;
}
.button-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-behavior: smooth;

}

.room-off-fb-low {
  position: absolute;
 
  width:40px;      /* 👈 make this bigger */
  height: 40px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightofffblow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   left: 10px;
    bottom: 10px;
}
.room-off-fb-high {
  position: absolute;
 
  width: 40px;      /* 👈 make this bigger */
  height: 40px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightofffbhigh.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   right: 10px;
    bottom: 10px;
}
.room-on-fb-high {
  position: absolute;
 
  width: 40px;      /* 👈 make this bigger */
  height: 40px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightonfbhigh.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   right: 10px;
    bottom: 10px;
}
.room-on-fb-low {
  position: absolute;
 
  width: 40px;      /* 👈 make this bigger */
  height: 40px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightonfblow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   right: 10px;
    bottom: 10px;
}

@media (min-width: 1025px) {
    .room-button {
        width: 150px;
        height: 150px;
        font-size: 24px;
    }
}

