.room-button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    
    position: relative;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    
    border: none;
    
    display: flex;
    flex-direction: row;
   
    
    padding: 10px;
}
.button-row {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.room-off-fb-low {
  position: absolute;
 
  width: 30px;      /* 👈 make this bigger */
  height: 30px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightofffblow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   left: 10px;
    bottom: 10px;
}
.room-off-fb-high {
  position: absolute;
 
  width: 30px;      /* 👈 make this bigger */
  height: 30px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightofffbhigh.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   right: 10px;
    bottom: 10px;
}
.room-on-fb-high {
  position: absolute;
 
  width: 30px;      /* 👈 make this bigger */
  height: 30px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightonfbhigh.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   right: 10px;
    bottom: 10px;
}
.room-on-fb-low {
  position: absolute;
 
  width: 30px;      /* 👈 make this bigger */
  height: 30px;     /* 👈 and this */
  background-image: url('/src/assets/images/lightonfblow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;   /* 👈 IMPORTANT */
  border: none;
  padding: 0;
  background-color: transparent;
   right: 10px;
    bottom: 10px;
}
@media (min-width: 1025px) {
    .room-button {
        width: 150px;
        height: 150px;
        font-size: 24px;
    }
}
